<!DOCTYPE html>
<html>
    <body>
        <h1>Profile</h1>
        
        <form action = "{{ url_for('update_user')}}" method = "POST">
            Name
            <input type="text" name ="name" value="{{ user['name'] }}"/>
            First last name
            <input type="text" name="lastname1" value="{{ user['lastname1']}}"/>
            Second last name
            <input type="text" name="lastname2" value="{{ user['lastname2']}}"/>
            First last name
            <input type="text" name="lastname1" value="{{ user['lastname1']}}"/>
            Email
            <input type="email" name="email" value="{{ user['email']}}"/>
            Username
            <input type="text" name="username" value="{{ user['username']}}"/>
            Password
            <input type="password" name="password" />
            <button type="submit" name="userid" value="{{user['user_id']}}">Update</button>   
        </form>
       
       
    </body>
</html>