<!DOCTYPE html>
<html>
    <body>
        <form action = "{{ url_for('add_user')}}" method = "POST">
        <h3>Register</h3>
        Name
        <input type="text" name ="name"/>
        First last name
        <input type="text" name="last-name-1"/>
        Second last name
        <input type="text" name="last-name-2"/>
        Email
        <input type="email" name="email"/>
        Username
        <input type="text" name="username"/>
        Password
        <input type="password" name="password" />
        <input type = "submit" value = "submit" />
    </form>

    </body>
    
</html>